/* ==========================================================================
   Typography — Geist and Geist Mono, the brand typefaces (SIL Open Font
   License, see assets/fonts/OFL.txt). Bundled so the app works offline.
   Medium covers regular and medium weights; SemiBold covers 600–700.
   ========================================================================== */

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600 700;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
}
